In [13]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportion_confint

In [2]:
data = pd.read_csv('sample10000.csv')

In [3]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-12-19 20:13:04,2016-12-19 20:16:58,1,0.87,1,N,238,142,1,5.0,0.5,0.5,1.50,0.0,0.3,7.80
1,1,2016-12-27 19:28:48,2016-12-27 19:30:31,1,0.10,1,N,231,144,2,3.0,1.0,0.5,0.00,0.0,0.3,4.80
2,1,2016-12-17 00:57:37,2016-12-17 01:10:37,3,2.30,1,N,90,233,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75
3,1,2016-12-01 20:32:54,2016-12-01 20:52:17,1,5.00,1,N,13,143,1,18.5,0.5,0.5,3.95,0.0,0.3,23.75
4,2,2016-12-12 19:25:14,2016-12-12 19:34:15,2,1.43,1,N,164,79,1,7.5,1.0,0.5,1.00,0.0,0.3,10.30

In [17]:
data[data.payment_type == 2].count()

VendorID                 3543
tpep_pickup_datetime     3543
tpep_dropoff_datetime    3543
passenger_count          3543
trip_distance            3543
RatecodeID               3543
store_and_fwd_flag       3543
PULocationID             3543
DOLocationID             3543
payment_type             3543
fare_amount              3543
extra                    3543
mta_tax                  3543
tip_amount               3543
tolls_amount             3543
improvement_surcharge    3543
total_amount             3543
dtype: int64

In [18]:
print 3543

3543

In [19]:
proportion_confint(3543, 10000, alpha=0.01)

(0.34197979174644566, 0.36662020825355435)

In [8]:
print 0.59954871592521597

0.599548715925

In [10]:
data.trip_distance.mean()

2.8812639999999945

In [20]:
data.trip_distance.std()

3.5839254113945156

In [14]:
s = data.trip_distance.std(ddof=1) / np.sqrt(10000)

In [15]:
from statsmodels.stats.weightstats import _tconfint_generic

In [16]:
_tconfint_generic(data.trip_distance.mean(), s, 10000 - 1, 0.05, 'two-sided')

(2.8110118487985924, 2.9515161512013965)